@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

body {
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    height: 80vh;
    padding: 30px;
    background-color: aqua;
    background-image: url('images/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    flex-basis: 10%;
}

.navigation {
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.btn-contact {
    background-color: white;
    border-radius: 25px;
    padding: 10px 20px;
}

.btn-contact a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
}

.cta {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta h1 {
    flex-basis: 100%;
    color: white;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 70px;
}

.cta img {
    flex-basis: 100%;
}

.main-page {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}

.services-column {
    flex-basis: 50%;
    background-color: white;
    height: 50vh;
}

.services-column img {
    width: 100%;
    height: 100%;
}

.texted {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
}

.texted div {
    width: 70%;
}

.texted h2 {
    text-wrap: wrap;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.texted p {
    text-wrap: wrap;
}


.learn-more a {
    text-decoration: none;
    color: black;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    border-bottom: 10px solid #FFF5BB;
}

.background-first {
    background-image: url('images/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;

}

.background-first div {
    width: 70%;
}

.background-first h3 {
    text-wrap: wrap;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    text-align: center;
}

.background-first p {
    text-align: center;
    text-wrap: wrap;
}

.background-second {
    background-image: url('images/image-photography.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
}

.background-second div {
    width: 50%;
}

.background-second h3 {
    text-wrap: wrap;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    text-align: center;
}

.background-second p {
    text-align: center;
    text-wrap: wrap;
}

.testimonies {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.testimonies h3 {
    flex-basis: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #A5A6A8;
    margin-top: 10%;
    font-family: 'Fraunces', serif;
}

.testimony {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.testimony img {
    border-radius: 50%;
}

.testimony p {
    text-align: center;
}


.client-info h3 {
    color: black;
    font-family: 'Fraunces', serif;
}

.client-info h5 {
    color: #A5A6A8;
}

.galleries {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
}

.galleries .element {
    flex-basis: 25%;
}

.element img {
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #90D4C5;
    flex-basis: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-nav a {
    text-decoration: none;
    color: #297062;
    margin-right: 25px;
}

.social-icons img {
    margin-right: 25px;
}